@using CodingEvents.ViewModel
@model AddEventViewModel

<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">
    <label asp-for="Name">Event Name:</label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Description">
        Event Description:
        <input asp-for="Description" />
    </label>
    <br />
    <label asp-for="ContactEmail">
        Contact Email:
        <input asp-for="ContactEmail" />
    </label>
    <br />
    <input type="submit" value="Add Event" />
</form>