<h1>Add Event</h1>

<form method="post">
    <label for="name">Event Name:</label>
    <input name="Name" id="name" type="text" />
    <br />
    <label>@*using label in a different way that works the same*@
        Event Description:
        <input name="Description" id="description" type="text" />
    </label>
    <br />
    <input type="submit" value="Add Event" />
</form>