@using CodingEvents.ViewModel
@model AddEventViewModel

<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">
    <label asp-for="Name">Event Name:</label>
    <input asp-for="Name"/>
    <br />
    <label asp-for="Description">@*using label in a different way that works the same*@
        Event Description:
        <input asp-for="Description"/>
    </label>
    <br />
    <input type="submit" value="Add Event" />
</form>