<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
<h1>Events</h1>

@if (ViewBag.events.Count == 0)
{
    <p>No events to display.</p>
}
else 
{ 

    <table class="table">
        <tr>
            <th>Event Name</th>
            <th>Description</th>
        </tr>
        @foreach (Event meeting in ViewBag.Events)
         {
            <tr>
                <td>@meeting.Name</td>
            </tr> 
         }
    </table>

}
