@using CodingEvents.Models
@model List<Event>

<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
<p>
    <a asp-controller="events" asp-action="delete">Delete Event</a>
</p>
<h1>Events</h1>

@if (Model.Count == 0)
{
    <p>No events to display.</p>
}
else 
{ 

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Event Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
        @foreach (Event meeting in Model)
         {
    <tr>
        <td>@meeting.Id</td>
        <td>@meeting.Name</td>
        <td>@meeting.Description</td>
        <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@meeting.Id">Edit Event</a></td>
    </tr> 
         }
    </table>

}
