<p>
    <a asp-controller="events" asp-action="add">Add Event</a>
</p>
<h1>Events</h1>

@if (ViewBag.events.Count == 0)
{
    <p>No events to display.</p>
}

<ul>
    @foreach (string meeting in ViewBag.events)
    {
        <li>@meeting</li>
    }

</ul>